@import "./reset.css";
@import "./vars.css";
@import "./typography.css";
@import "./utils.css";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: var(--black);
  color: var(--white);
}

body {
  width: 100%;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  display: inline-block;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img,
video {
  display: block;
}
